.container {
  display: flex;
  margin: var(--primary-block-margin-y) auto;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  max-width: 1000px;
  padding-inline: 1rem;
}

.info {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  margin-inline: auto;
}

.small_header {
  font-weight: 400;
  color: var(--section-title-color);
}

.big_header {
  font-size: 2rem;
}

.info_body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.info_body_leader,
.list_item_body {
  color: var(--secondary-text-color);
}

.list_item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.list_item_bullet {
  height: 1.5rem;
}

.list_item_header {
  font-weight: 500;
}

.events_collage {
  max-width: 35rem;
  width: 50%;
  margin-inline: auto;
}

.button {
  margin-inline: auto;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }

  .info {
    max-width: none;
  }

  .events_collage {
    width: 100%;
  }
}
