.container {
  padding: var(--primary-block-margin-y) 0;
  background-color: var(--alt-bg-color);
}

.content {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 0.8fr;
  gap: 2rem;
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

.image {
  width: 100%;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.form > input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #b1b2b6;
  height: 2.5rem;
}

.form > input::placeholder {
  font-size: 1.01rem;
  font-weight: 500;
}

.side_section {
  font-weight: 500;
  place-self: center;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.social_media {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}

.social_media > img {
  width: 2rem;
  cursor: pointer;
}

.social_media > img:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 768px) {
  .image {
    display: none;
  }

  .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .content {
    grid-template-columns: 1fr;
  }

  .contact_form {
    text-align: center;
  }

  .contact_form > form > button {
    margin-inline: auto;
  }
}
